/* typography - title */
.title-type1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}
.title-type2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
.title-type3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}
.title-type4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.title-type5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
}
.title-type6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}
.title-type7 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
/* typography - subtitle */
.subtitle-type1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.subtitle-type2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.subtitle-type3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.subtitle-type4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.subtitle-type4-500 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
/* typography - body */
.text-type1 {
  font-size: 18px;
  line-height: 27px;
}
.text-type2 {
  font-size: 16px;
  line-height: 24px;
}
.text-type3 {
  font-size: 15px;
  line-height: 23px;
}
.text-type4 {
  font-size: 14px;
  line-height: 21px;
}
.text-type5 {
  font-size: 13px;
  line-height: 20px;
}
/* typography - link */
.link-type1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}
.link-type2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}